

<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id= "error-explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workouts from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field">
    <%= f.label :spades %><br>
    <%= f.text_field :spades %>
  </div>
  <div class= "field">
    <%= f.label :hearts %><br>
    <%= f.text_field :hearts %>
  </div>
  <div class= "field">
    <%= f.label :clubs %><br>
    <%= f.text_field :clubs %>
  </div>
  <div class= "field">
    <%= f.label :diamonds %><br>
    <%= f.text_field :diamonds %>
  </div>
  <div class= "submit">
    <%= f.submit %>
  </div>

<% end %>
