
<div class="">
	<ul >
<!-- <table >
	<thead>
	<tr>
		<th>Workout Id</th>
		<th><h1 style="color:red"> &hearts;:</h1></th>
        <th><h1>&clubs;:</h1></th>
        <th><h1 style="color:red">&diams;: </h1></th>
        <th><h1>&spades;:</h1></th>
        <th></th>
        </tr>
    </thead> -->
    <% if @workouts.blank? %> <!-- checking to see if user has any workouts -->
    	<div id="no-workouts"> You have no workouts </div> <!-- fix this -->
   	<% else %>
		<% @workouts.each do |workout| %>
		<div class='col-md-4 col-sm-6'>
			<li class="display-workouts-card">
			  <div class="delete-workout"><%= link_to image_tag("delete.svg"), workout_path(workout), method: :delete, data: { confirm: "Are you sure?" }%></a></div>
			  <div class="description-container">
				<div class="spades">&spades;: <%= workout.spades %></div>
				<div class="hearts">&hearts;: <%= workout.hearts %></div>
				<div class="clubs">&clubs;: <%= workout.clubs %></div>
				<div class="diamonds">&diams;: <%= workout.diamonds %></div>
			</div>
				<div class="start-workout"><%= link_to "START", workout_path(workout) %></div>

			</li>
		</div>
		<% end %>
	<% end %> <!-- end if statement -->
</ul>
</div>
<div id="new-workout"><%= link_to image_tag("add.svg"), new_workout_path %>
	</div>




			