
<div class="">
	<ul >
    <% if @workouts.blank? %> <!-- checking to see if user has any workouts -->
    	<div id="no-workouts"> 
    		<h1>You have no workouts</h1> <!-- fix this -->
    		<div id="new-workout"><%= link_to image_tag("add.svg"), new_workout_path %></div>
    	</div>
   	<% else %>
		<% @workouts.each do |workout| %>
		<div class='col-md-4 col-sm-6'>
			<li class="display-workouts-card">
			  <div class="delete-workout"><%= link_to image_tag("delete.svg"), workout_path(workout), method: :delete, data: { confirm: "Are you sure?" }%></a></div>
			  <div class="description-container">
				<div class="spades">&spades;: <%= workout.spades %></div>
				<div class="hearts">&hearts;: <%= workout.hearts %></div>
				<div class="clubs">&clubs;: <%= workout.clubs %></div>
				<div class="diamonds">&diams;: <%= workout.diamonds %></div>
			</div>
				<div class="start-workout"><%= link_to "START", workout_path(workout) %></div>

			</li>
		</div>
		<% end %>
	<div id="new-workout"><%= link_to image_tag("add.svg"), new_workout_path %>
	</div>
	<% end %> <!-- end if statement -->
</ul>
</div>





			