<div class="container">
<div class="baraja-deck">
	<ul id="baraja-el" class="baraja-container">
<!-- <table >
	<thead>
	<tr>
		<th>Workout Id</th>
		<th><h1 style="color:red"> &hearts;:</h1></th>
        <th><h1>&clubs;:</h1></th>
        <th><h1 style="color:red">&diams;: </h1></th>
        <th><h1>&spades;:</h1></th>
        <th></th>
        </tr>
    </thead> -->
	<% @workouts.each do |workout| %>
	<li>
	
		<div><%= workout.user_id %></div>
		<div><%= workout.spades %></div>
		<div><%= workout.clubs %></div>
		<div><%= workout.hearts %></div>
		<div><%= workout.diamonds %></div>
		<div><%= link_to "Show", workout_path(workout) %>
		<%= link_to "Edit", edit_workout_path(workout) %>
		<%= link_to "Delete", workout_path(workout), method: :delete, data: { confirm: "Are you sure?" }%></a></div>

	</li>
	<% end %>


	<h1><%= link_to "New Workout", new_workout_path %>
	</h1>
</div>
</ul>
</div>

 <%= javascript_tag do %>
    var $el = $( '#baraja-el' ),
	baraja = $el.baraja();

		$( '.baraja-container' ).on( 'click', function( event ) {

			baraja.next();		
		} );
			
 <% end %>