<h1><%= @workout.id %></h1>

<table>
	<tr><%= @workout.spades %></tr>
	<tr><%= @workout.hearts %></tr>
	<tr><%= @workout.clubs %></tr>
	<tr><%= @workout.diamonds %></tr>

	</table>

<%= @Deck1= Deck.new %>

