<h1><%= @workout.id %></h1>

<table>
	<tr><%= @workout.spades %></tr>
	<tr><%= @workout.hearts %></tr>
	<tr><%= @workout.clubs %></tr>
	<tr><%= @workout.diamonds %></tr>

	</table>

<% @Deck1= Deck.new %>
<% @count= 1 %>
<div class="baraja-demo">
	<ul id="baraja-el" class="baraja-container">
	<% @Deck1.cards.each  do |card| %>

		<li id="next"><h4><%= @count %>) <%= card.suit %>
		<%= card.value %></h4></li>
		<% @count+= 1 %>
		<% end %>
	</ul>
</div>
<nav class="actions light">
	<span id="nav-prev">&lt;</span>
	<span id="nav-next">&gt;</span>
</nav>

       
        <script type="text/javascript">	

        	var $el = $( '#baraja-el' ),
				baraja = $el.baraja();

				// navigation
				$( '#nav-prev' ).on( 'click', function( event ) {

					baraja.previous();
				
				} );

				$( '.baraja-container' ).on( 'click', function( event ) {

					baraja.next();
				
				} );

			
		</script>


