<h1><%= @workout.id %></h1>

<table>
	<tr><%= @workout.spades %></tr>
	<tr><%= @workout.hearts %></tr>
	<tr><%= @workout.clubs %></tr>
	<tr><%= @workout.diamonds %></tr>

	</table>

<% @Deck1= Deck.new %>
<% @count= 1 %>
<% @Deck1.cards.each  do |card| %>

<div><%= @count %>) <%= card.suit %>
<%= card.value %></div>
<% @count+= 1 %>
<% end %>

