<table >
	<% @histories.each do |history| %>
	
	<tr>

		<td><strong>User Id:</strong><%= history.user_id %></td>
		<td><strong>Id:</strong><%= history.id %></td>
		<td><%= link_to "Show", history_path(history) %></td>
		<td><%= link_to "Edit", edit_history_path(history) %></td>
		<td><%= link_to "Delete", history_path(history), method: :delete, data: { confirm: "Are you sure?" }%></a></td>

	</tr>
	<% end %>
</table>

<h1><%= link_to "New History", new_history_path %>