<table>
	<thead>
		<th>Name</th>
		<th>Username</th>
		<th>Email</th>
		<th></th>
	</thead>
	<% @users.each do |user| %>
	<tr>
		
		<td><%= user.first_name%> <%= user.last_name%></td>
		<td><%= user.username%></td>
		<td><%= user.email %></td>
		<td><%= link_to "Show", user_path(user) %>
		<%= link_to "Edit", edit_user_path(user) %>
		<%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" }%></a></td>
	</tr>
	<% end %>
</table>


<h1><%= link_to "New User", new_user_path %>