<!DOCTYPE html>
<html>
<head>
  <title>JackedUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class= "nav">
		<h1> <%= link_to "JackedUp", workouts_path %></h1>


		<% if logged_in? %>
        <li id= "logout"><%= link_to "Log Out", logout_path, method: :delete %></li>
      
      <% end %>
	    </ul>
	  </div>

	  <% flash.each do |type, message| %>
	  <div class= "alert flash <%= type %>">
	        <%= message %>
	  </div>
	  <% end %>
	  <div class= "content"

		<%= yield %>

		</div>
	  </div>
	  </div>


</body>
</html>
