<!DOCTYPE html>
<html>
<head>
  <title>JackedUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class= "nav">
			<div id= "logo"> <%= link_to "JackedUp", workouts_path %></div>
			<% if logged_in? %>
	        <div id= "logout"><%= link_to image_tag("logout.png"),logout_path, method: :delete %>
			</div>
	        <%end%>
		 </div>
	<div class="flash">
		  <%flash.each do|type,message| -%>
		<div class= "alert flash <%= type %>"><%= message %></div>
		  <%end %>
	</div>
	<div class= "content">
		<%= yield %>
	</div>
	</div>


</body>
</html>
